@charset "utf-8";

/* CSS */
.navbar-nav .nav-item .nav-link {
    transition: 0.5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(51, 43, 43);
    transform: scale(1.05);
    transition: 0.5s;
}

.navbar-brand {
    font-weight: bold;
}

header {
    margin: 20px 30px 0;
}

body>.container {
    max-width: 995px;
}

body>main {
    background-color: beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.home-section div{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.small-round-pp {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.small-round-pp>img {
    border-radius: 50%;
    height: 150px;
    width: 130px;
    transition: 0.5s;
}

.small-round-pp>img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}



.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-section>h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 20px 5em;
}

.about-section>img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.div-project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div-project h2 {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 5em;

}

.div-project p {
    margin-bottom: -6em;
}

.project-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: -8em;

}

.project-section div {
    width: calc(98%/5);

}

.project-section div figure img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.project-section div figure img {
    height: 250px;
    width: 250px;
    transition: 0.5s;
}

.project-section div figure h3 {
    border-bottom: 1px solid black;
    margin: 5px 1em;
    text-align: center;
}

.skill-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-section h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 5em;
    padding: 10px;
}

.skill-section p {
    font-style: italic;
}

.skill-section div {
    width: 50%;
    text-align: center;
    border-right: 1px solid black;
}

.skill-section div:nth-child(5) {
    border-right: none;
}

.skill-section div h3 {
    margin: 10px 4em;
    border-bottom: 1px solid black;
    padding: 10px;
}

.skill-section div li {
    list-style: none;
    padding: 5px;
}

.contactme-section>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contactme-section>ul>li {
    list-style: none;
    display: inline;
}

.contactme-section h2 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 5em;
    padding: 10px;
}

.contactme-section>p:nth-child(2) {
    font-weight: bold;
}

.contactme-section>p:nth-child(4) {
    font-style: italic;
}

.contactme-section form,
label {
    margin: 10px;
}

.contactme-section button[type="submit"] {
    margin: 10px;
}

footer {
    background-color: #f8f9fa;
    margin: 20px 30px 0;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}