<section>
  <h2>About Me</h2>
  <img src="../img/pp.jpg" alt="a picture of Aryan Bhattarai" height="20%" width="20%">
  <p>
    Greetings, I am Aryan Bhattarai. I am an international student from Nepal,
    currently enrolled in Georgian College in Interactive Media Desgin - Web. I
    am in my third semester and am expected to graduate after winter semester. I
    was a football player in Nepal and have played professionally. And I am also
    a guitarist/singer in a band. I am very passionate about writing songs and
    playing them. Moreover, I aspire to be a good developer as I was interested
    in computer and mobiles application as a child and was keen on researching
    how to make it. I am open to work to learn more about the process and want
    to apply the skills that I have learnt in the past few years to use.
  </p>
</section>
