<div class="div-project">
  <h2>Projects</h2>
  <p>
    I have built some solo as well as group projects with my friends and
    professor in class. Some of which include: Tic Tac Toe game using js, bakery
    webpage, practise webpage for a lolipop brand, site named MEDIACON which was
    built by our whole class, and many more solo projects. I am also working on
    some projects which is for some business. If you want to be a friend and
    want to work together then please feel free to contact me. Here are some of
    my work:
  </p>
</div>

<section class="project-section">
  <div>
    <figure>
      <!-- <h3>a|state</h3> -->
      <img src="/img/a-Estate.png" alt="webpage picutre" />
    </figure>
  </div>
  <div>
    <figure>
      <!-- <h3>AB-Bakery</h3> -->
      <img src="/img/AB-Bakery.png" alt="bakery webpage picture" />
    </figure>
  </div>
  <div>
    <figure>
      <!-- <h3>Chupa Chups</h3> -->
      <img src="/img/chupachups.png" alt="lollipop brand webpage picture" />
    </figure>
  </div>
  <div>
    <figure>
      <!-- <h3>Tic-Tac-Toe</h3> -->
      <img src="/img/Tic-Tac-Toe.png" alt="tic-tac-toe game using js picture" />
    </figure>
  </div>
</section>
